.App {
  background-color: #000033;
  text-align: center;
  height: 2000px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.barMenu{
  background-color: rgba(0, 0, 102, 0.9);
  position: fixed;
  text-align: center;
  width: 100%;
  height: 6%;
  top: 0;
  z-index: 201;
}
.square-left{
  position: relative;
  width: 5%;
  height: 100%;
  transition: 0.5s;
}
.square-left:hover{
  background-color: rgba(0, 0, 0, 0.9);
  border-top-right-radius: 70%;
}
.menu-all{
  position: absolute;
  transition: 0.5s;
  opacity: 1; 
  background-color: rgba(0, 0, 0, 0.9);
  border-right: solid rgba(40,35,159,1) 5px;
  top: 0%;
  left: 0;
  width: 20%;
  height: 1000px;
  z-index: 300;
  transform: translateX(-150%);
}
.menu-all::before{
  content: 'INFORMATION';
}
.menu-left-content{
  position: absolute;
  background-color: rgba(16, 26, 54, 0.9);
  left: 3%;
  width: 94%;
  height: 100%;
}
.list-left{
  text-align: left;
}

.close-button{
  position: absolute;
  background-color: black;
  right: -20%;
  top: -3%;
  width: 15%;
  height: 4%;
}
.close-button::after{
  content: '<';
  position: absolute;
  font-size: 150%;
  color: white;
  position: absolute;
  right: 20%;
  top: -35%;
  z-index: 301;
}

.menu-select{
  position: absolute;
  background-color: rgba(133, 133, 133, 0.7);
  width: 50%;
  height: 10%;
  top: 45%;
  left: 15%;
  animation-duration: 1s;
  animation-name: apear;
}
.menu-select::before{
  content: '';
  position: absolute;
  background-color: rgba(133, 133, 133, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  animation-duration: 1s;
  animation-name: up;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.menu-select::after{
  content: '';
  position: absolute;
  background-color: rgba(133, 133, 133, 0.7);
  width: 100%;
  height: 100%;
  left: 0;
  animation-duration: 1s;
  animation-name: down;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.text-bar{
  position: absolute;
  top: 9%;
  left: 6%;
}
.text-contact{
  position: absolute;
  display: inline-block;
  font-size: 80%;
  transform: translateX(-60%) translateY(0);
  top: 20%;
  transition: 0.5s;
}
.text-contact:hover{
  font-size: 90%;
  top: 15%;
}
.info-menu{
  opacity: 0;
  position: absolute;
  background-color: rgba(12, 12, 102, 1);
  top: 100%;
  left: 45%;
  width: 35%;
  height: 200px;
  transition: 0.4s;
  transform: translateY(-150%);
}
.info-menu-text{
  opacity: 0;
  text-align: left;
  position: absolute;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  display: flexbox;
  flex-direction: column;
  left: 5%;
  width: 90%;
  height: 90%;
  transform: translateY(-150%);
  transition: 0.2s;
}
.tittleApp{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 6%;
  left: 0;
  width: 100%;
  height: 30%;
}

.tittleText{
  position: absolute;
  left: 2%;
  top: 5%;
  animation-duration: 1s;
  animation-name: apearLeft;
}

.subTittleText{
  position: absolute;
  left: 2%;
  top: 20%;
  animation-duration: 1s;
  animation-name: apearLeft;
}

.nameCristian{
  position: absolute;
  left: 2%;
  top: 15%;
  font-size: 300%;
  animation-duration: 1s;
  animation-name: apearLeft;
}
.front-img{
  position: absolute;
  width: 50%;
  transform: translateY(-10%);
}
.front-img-js{
  position: absolute;
  left: 45%;
  width: 20%;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: imgFloat;
  animation-delay: 5s;
}

.firstMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: rgba(28, 28, 125, 1);
  width: 10%;
  height: 6%;
  top: 32%;
  left: 35%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  transition: 0.5s;
}
.firstMenu-space{
  position: absolute;
  background-color: rgba(28, 28, 125, 1);
  width: 96%;
  height: 90%;
  left: 2%;
  top: 37%;
  z-index: 2;
}

.firstMenu:hover{
  transform: translateY(-15%);
  border-top: solid 2px rgba(133, 133, 133, 0.5);
}
.left-Div{
  position: absolute;
  background: rgb(54,86,184);
  background: linear-gradient(20deg, rgba(54,86,184,1) 0%, rgba(9,9,121,1) 28%, rgba(40,35,159,1) 100%);;
  width: 55%;
  height: 40%;
  top: 2%;
  left: 2%;
}
.page-detail{
  position: absolute;
  background: rgb(54,86,184);
  background: linear-gradient(20deg, rgba(54,86,184,1) 0%, rgba(9,9,121,1) 28%, rgba(40,35,159,1) 100%);;
  width: 55%;
  height: 40%;
  top: 45%;
  left: 2%;
}
.page-detail-text{
  padding: 5%;
  transition: 0.5s;
}

.animationAD{
  position: absolute;
  background-color: rgb(182, 182, 182);
  width: 5px;
  height: 5px;
  animation-duration: 4s;
  animation-name: nimedAD;
  animation-iteration-count: infinite;
}
.animationAD1{
  position: absolute;
  background-color: rgb(182, 182, 182);
  width: 5px;
  height: 5px;
  animation-duration: 4s;
  animation-name: nimedAD;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.animationAD2{
  position: absolute;
  background-color: rgb(182, 182, 182);
  width: 5px;
  height: 5px;
  animation-duration: 4s;
  animation-name: nimedAD;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
.animationAD3{
  position: absolute;
  background-color: rgb(182, 182, 182);
  width: 5px;
  height: 5px;
  animation-duration: 4s;
  animation-name: nimedAD;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
.presentation-Text{
  padding: 5%;
  transition: 0.5s;
}
.presentation-Text:hover{
  transform: scale(105%);
}
.tittle-about{
  position: absolute;
  left: 40%;
  width: 20%;
  top: -2%;
}




.right-Div1{
  position: absolute;
  background-color: #838383;
  width: 10%;
  height: 60%;
  top: 11%;
  right: 30%;
  animation-duration: 0.5s;
  animation-name: apearTop;
}
.right-Div2{
  position: absolute;
  background-color: #838383;
  width: 10%;
  height: 60%;
  top: 6%;
  right: 19%;
  animation-duration: 1s;
  animation-name: apearTop;
}
.right-Div3{
  position: absolute;
  background-color: #838383;
  width: 10%;
  height: 60%;
  top: 1%;
  right: 8%;
  animation-duration: 1.5s;
  animation-name: apearTop;
}
.img-me{
  position: absolute;
  width: 30%;
  height: 30%;
  top: 7%;
  right: 3%;
  transform: scale(120%);
}
.img-me-img{
  position: absolute;
  left: 0;
  transition: 1s;
  animation-name: apear;
  animation-duration: 1s;
}
.img-me-img:hover{
  transform: scale(101%);
}

.secondMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color:  rgba(12, 12, 102, 1);;
  width: 10%;
  height: 6%;
  top: 32%;
  left: 45%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  transition: 0.5s;
}
.secondMenu-space{
  position: absolute;
  background-color: rgba(12, 12, 102, 1);
  width: 96%;
  height: 90%;
  left: 2%;
  top: 37%;
  z-index: 0;
}

.secondMenu:hover{
  transform: translateY(-15%);
  border-top: solid 2px rgba(133, 133, 133, 0.5);
}
.galeria-courses{
  
}

.thirdMenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color:  rgba(5, 5, 76, 1);;
  width: 10%;
  height: 6%;
  top: 32%;
  left: 55%;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  transition: 0.5s;
}
.thirdMenu-space{
  position: absolute;
  background-color: rgba(5, 5, 76, 1);
  width: 96%;
  height: 90%;
  left: 2%;
  top: 37%;
  z-index: 0;
}

.thirdMenu:hover{
  transform: translateY(-15%);
  border-top: solid 2px rgba(133, 133, 133, 0.5);
}

.dataSelect{
  position: absolute;
  top: -60%;
}
li {
  list-style: none;
}

@keyframes apear{
  0%{
    transform: translateX(-200%);
  }
  100%{
    transform: translateX(1);
  }
}
@keyframes up{
  0%{
    transform: translateY(1);
  }
  100%{
    transform: translateY(-200%);
  }
}
@keyframes down{
  0%{
    transform: translateY(1);
  }
  100%{
    transform: translateY(200%);
  }
}


@keyframes apearTop {
  0%{
    opacity: 0.0;
    transform: translateY(-8%);
  }
  100%{
    opacity: 1;
    transform: translateY(1);
  }
}
@keyframes apearLeft{
  0%{
    opacity: 0.0;
    transform: translateX(-10%);
  }
  100%{
    opacity: 1;
    transform: translateX(1);
  }
}

@keyframes nimedAD{
  0%{
    left: -1%;
    top: -1%;
  }
  25%{
    left: 100%;
    top: -1%;
  }
  50%{
    left: 100%;
    top: 100%;
  }
  75%{
    left: -1%;
    top: 100%;
  }
  100%{
    left: -1%;
    top: -1%;
  }
}

@keyframes imgFloat{
  0%{
    transform: translateY(1);
  }
  50%{
    transform: translateY(-10%);
  }
  100%{
    transform: translateY(1);
  }
}

@keyframes moveTitle{
  0%{
    transform: translateY(1);
  }
  100%{
    transform: translateY(-100%);
  }
}